<%= form_with model: article do |form| %>
  <div class="mb-3">
    <%= form.label :Título, class: "form-label", for: "title" %><br>
    <%= form.text_field :title, class: "form-control", id: "title" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :Corpo, class: "form-label", for: "body" %><br>
    <%= form.text_area :body, class: "form-control", id: "body" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :status, for: "select" %><br>
    <%= form.select :status, render_article_options, { selected: 'public' }, { class: 'form-control' } %>
  </div>
  
  <div class="mb-3">
    <%= form.label :Foto, class: "form-label", for: "file" %><br>
    <%= form.file_field :avatar, class: "form-control", type: "file",
     id: "file" %>
  </div>

  <div class="mb-3">
    <%= form.label :Nome, class: "form-label", for: "name" %><br>
    <%= form.text_field :nome, class: "form-control", id: "name" %>
  </div>

  <div>
    <%= form.submit :Gravar, class: "btn btn-primary" %>
    <%= link_to "Voltar", url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>