<div class="container-fluid">
  <!-- As a heading -->
  <%= render "navbar" %>

  <div class="card">
    <div class="card-body">
      <%= link_to "Novo Artigo", new_article_path, class: "btn btn-primary", role: "button" %>
      <hr>
      
      <h5>Seu blog tem <%= Article.public_count %> artigos!</h5>
  
      <%= flash_message %>
      <div class="row">
          <% @articles.each do |article| %>
            <% unless article.archived? %>
            
              <div class="col-sm-4 col-md-3 col-sm-3 col-md-3">
                <div class="card">
                  <% if article.avatar.attached? %>
                    <img class="card-img-top" src="<%= (url_for(article.avatar)) %>">
                  <% else %>       
                    <%= image_tag("no_image", class: "card-img-top") %>             
                  <% end %>
                  <div class="card-body">                      
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text"><%= article.nome %></p>
                    <%= link_to "Veja", article, class: "btn-sm btn-primary" %>
                  </div>
                </div>
              </div>
            
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>